!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Docker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='./style.css')
    script(src="./js/jade.js")
    
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .container
      .pull-right
        a.introMeBtn.alert(href="javascript: void(0)") Please let me know what is this?
    .container
      include ./views/mainview/index.jade
    script(src="./code.js")